nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  width: 330px;
  padding: 14px 30px 27px;
  opacity: 0.5;
}

nav:hover {
  opacity: 1;
}

nav a {
  text-decoration: none;
}

nav ul {
  margin: 0;
}

nav li {
  font-size: 14px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 12px;
}

nav > ul > li:first-child {
  font-weight: bold;
}

nav ul ul li {
  color: rgba(0, 0, 0, 0.4);
  margin-left: 10px;
}

@media (max-width: 1340px) {
  nav {
    display: none;
  }
}
