menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;

  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

menu div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1920px;
  height: 50px;
  margin: 0 auto;
  padding: 0 40px;
}

menu a {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: color 0.3s ease;
}

menu a:hover {
  color: rgba(0, 0, 0, 0.4);
}

menu a:first-child {
  width: 180px;
  height: 16px;
  background-image: url('../images/logo.svg');
}

menu a.current {
  color: rgba(0, 0, 0, 0.6);
}

menu a.current:hover {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1440px) {
  menu div {
    padding: 0 20px;
  }
}

@media (max-width: 1250px) {
  menu a {
    font-size: 12px;
    line-height: 16px;
  }

  menu a:first-child {
    width: 150px;
    height: 14px;
    background-size: 150px 14px;
  }
}
