menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 50px;
  padding: 0 20px;

  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

menu a {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

menu a:hover {
  color: rgba(0, 0, 0, 0.4);
}

menu a.current {
  color: rgba(0, 0, 0, 0.6);
}

menu a.current:hover {
  color: rgba(0, 0, 0, 0.8);
}
