@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "basics.css";

@import "menubar.css";
@import "sidebar.css";

@import "post.css";
@import "posts.css";
@import "landing.css";
